<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>
    <div th:fragment="copy" class="navigation-w-line">
        <div th:class="|navigation-container ${fox.color}|">
            <div class="logo">
                <img width="56px" height="56px" th:src="@{'/img/' + ${fox.color} + 'fox.png'}" alt="greenfox">
                <div class="site-name">
                    Programmer's Fox Club
                </div>
            </div>
            <nav role="navigation" class="navbar">
                <div th:class="|navbar ${fox.color}">
                    <a class="navigation-link" href="/">Information</a>
                    <a class="navigation-link" href="/fox/nutritionstore">Nutrition Store</a>
                    <a class="navigation-link" href="/trickcenter">Trick Center</a>
                    <a class="navigation-link" href="/actionhistory">Action History</a>
                    <a class="navigation-link" th:if="${user} == null" href="/login" th:text="Login"></a>
                    <a class="navigation-link" th:if="${user} != 0" href="/logout"th:text="Logout"></a>
                </div>
            </nav>
        </div>
        <hr>
    </div>
</body>
</html>