<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div th:class="|header ${fox.color}|">
        <h1>Welcome to Programmers Fox Club!</h1>
    </div>
    <div class="instruction">
        <p>Please provide a name, so you can associate it to your pet!</p>
        <span class="usernametip"><p>(min. 3 characters long, max. 15. Contains letters, numbers and _)</p></span>
    </div>
    <div class="form">
        <form th:class="${fox.color}" th:method="post" th:object="${fox}" action="/create_fox">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" th:field="*{name}" pattern="^[A-Za-z0-9_]{1,32}$" required autofocus minlength="3" maxlength="15"/>
            <label for="color">Color</label>
            <select id="color" name="color" th:field="*{color}" class="select-menu">
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="red">Red</option>
            </select>
            <button type="submit">GO</button>
        </form>
    </div>

</body>
</html>