<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div th:replace="fragments/navigation :: copy"></div>
    <div class="content">
        <div th:class="|select-menu ${fox.color}|">
            <form th:class="${fox.color}" th:action="@{/nutritionsave}" th:method="post">
                    <label for="food">Food</label>
                    <select id="food" name="food" class="select-menu">
                        <option th:each="food : ${foodList}"  th:value="|${food.id}|" th:utext="|${food.name}|"></option>
                    </select>
                    <label for="drink">Drink</label>
                    <select id="drink" name="drink" class="select-menu">
                        <option th:each="drink : ${drinkList}"  th:value="|${drink.id}|" th:utext="|${drink.name}|"></option>
                    </select>
                    <button th:type="submit">Change</button>
            </form>
        </div>
    </div>
</body>
</html>